<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Event</title>
</head>
<body>
  <div>
    <iframe width="100%" height="500" 
src="https://www.youtube.com/embed/AVU2Q2MQXuU?autoplay=1" 
title="YouTube Live Stream" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>


<div>
  <!-- Live Chat Embed -->
<iframe width="30%" height="500" 
src="https://www.youtube.com/live_chat?v=AVU2Q2MQXuU&embed_domain=127.0.0.1:5500" 
frameborder="0"></iframe>
</div>
  </div>
</body>
</html>